<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="dependencyVersion" value="Lowest" />
        <add key="globalPackagesFolder" value="./packages" />
    </config>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="cluedin" value="https://pkgs.dev.azure.com/CluedIn-io/Public/_packaging/Public/nuget/v3/index.json" />
		<add key="github" value="https://nuget.pkg.github.com/chadnaparite/index.json" />
		<add key="AzurePipelines" value="https://pkgs.dev.azure.com/CluedIn-io/_packaging/CluedIn/nuget/v3/index.json" />
		<add key="develop" value="https://pkgs.dev.azure.com/CluedIn-io/_packaging/develop/nuget/v3/index.json" />
		<add key="release" value="https://pkgs.dev.azure.com/CluedIn-io/_packaging/release/nuget/v3/index.json" />
    </packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="chadnaparite" />
			<add key="ClearTextPassword" value="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" />
		</github>
		<AzurePipelines>
			<add key="Username" value="VSTS" />
			<add key="ClearTextPassword" value="xhn4cnrftzpt2mcrjg7qgxphbx2ks46viutlatn2w7o5q7srchxa" />
		</AzurePipelines>
		<develop>
			<add key="Username" value="VSTS" />
			<add key="ClearTextPassword" value="xhn4cnrftzpt2mcrjg7qgxphbx2ks46viutlatn2w7o5q7srchxa" />
		</develop>
		<release>
			<add key="Username" value="VSTS" />
			<add key="ClearTextPassword" value="xhn4cnrftzpt2mcrjg7qgxphbx2ks46viutlatn2w7o5q7srchxa" />
		</release>
	</packageSourceCredentials>
</configuration>
